/**
 * Media Queries
 *******************************************
 */
.main__title {
  font-size: 30px;
}
/**
 * Media Queries
 *******************************************
 */


/* desktop */
#main--title {
    font-size: 30px;
}

footer {
    align-items: flex-start;
    flex-direction: column;
}